#svg svg{
    margin: 10px;
}
#svg{
    margin: 0;
    background-color: white;
}
#svg1 path{
    fill:grey;
}#svg2 path{
    fill:grey;
}#svg3 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg4 path{
    fill:grey;
}#svg5 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}
#svg6 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg7 path{
    fill:grey;
}#svg8 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg9 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg10 path{
    fill:grey;
}
#svg11 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg12 path{
    fill:grey;
}#svg13 path{
    fill:grey;
    animation: filling 3s ease-in forwards;
}#svg14 path{
    fill:grey;
}
@keyframes filling{
   from{
       fill:grey;
   }
   to{
       fill:orange;
   }
}
#textsvg{
    animation: fillc 3s ease forwards 4s;
    color: white;
}
@keyframes fillc{
    from{
        color: white;
    }
    to{
        color:black;
    }
}